<div class="tab-pane fade" id="fade2">
    <div class="row">
        <div class="col-lg-12">
            <form class="" role="form">
                <div class="form-group form-group-default required ">
                    <label>Linkedin</label>
                    <input type="text" class="form-control" placeholder="ex: Linkedin" required>
                </div>
                <div class="form-group form-group-default required">
                    <label>Github</label>
                    <input type="text" class="form-control" placeholder="ex: Github" required>
                </div>
                <div class="form-group form-group-default required">
                    <label>Instagram</label>
                    <input type="text" class="form-control" placeholder="ex: Instagram" required>
                </div>
                <div class="form-group  form-group-default required">
                    <label>Twitter</label>
                    <input type="text" class="form-control" placeholder="ex: Twitter" required>
                </div>
                <div class="form-group  form-group-default required">
                    <label>Facebook</label>
                    <input type="text" class="form-control" placeholder="ex: Facebook" required>
                </div>
                <button class="btn btn-primary col-12">Submit</button>
            </form>
        </div>
    </div>
</div>