@{
    ViewData["Title"] = "Skill";
}

<!-- START BREADCRUMB -->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item active">Skill</li>
</ol>
<!-- END BREADCRUMB -->
<div class="card card-transparent m-0">
    <div class="card-block p-b-0 p-t-0">
        <partial name="Skill_Add" />
    </div>
</div>
<div class="card card-transparent">
    <div class="card-block">
        <partial name="Skill_Data" />
    </div>
</div>